.customization-menu {
  height: 100%;
  margin-bottom: 0em;
}

.customization-menu__loading {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 920px) {
  .customization-menu__loading {
    height: 300px;
  }
}

.customization-menu__pick-car {
  height: 100%;
  outline: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
}

@media all and (max-width: 920px) {
  .customization-menu__pick-car {
    height: 300px;
  }
}

.customization-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 920px) {
  .customization-menu__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.customization-menu__content .content-options {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

@media all and (max-width: 920px) {
  .customization-menu__content .content-options {
    width: 100%;
  }
}

.customization-menu__content .content-options .car-model {
  margin: .7em 0em;
  font-size: 28px;
}

.customization-menu__content .content-options .engine h2 {
  color: #414141;
  font-size: 21px;
  font-weight: lighter;
  margin: .3em 0em;
}

.customization-menu__content .content-options .engine .engine-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.3em;
}

.customization-menu__content .content-options .engine .engine-options .engine-btn {
  font-family: inherit;
  cursor: pointer;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: .3em 1.3em;
  border: none;
  background-color: #5a5a5a;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.customization-menu__content .content-options .engine .engine-options .engine-btn:disabled {
  background-color: lightgray;
  text-decoration: line-through;
}

.customization-menu__content .content-options .engine .engine-options .engine-btn:disabled:hover {
  background-color: lightgray;
}

.customization-menu__content .content-options .engine .engine-options .engine-btn:hover {
  background-color: #464646;
}

.customization-menu__content .content-options .engine .engine-options .engine-btn.active {
  background-color: #191919;
}

.customization-menu__content .content-options .engine .engine-options .engine-btn + .engine-btn {
  margin: .3em .3em 0em 0em;
}

.customization-menu__content .content-options .engine .engine-options .engine-btn:first-child {
  margin: .3em .3em 0em 0em;
}

.customization-menu__content .content-options .gearbox h2 {
  color: #414141;
  font-size: 21px;
  font-weight: lighter;
  margin: .3em 0em;
}

.customization-menu__content .content-options .gearbox .gearbox-options {
  margin-bottom: 1.3em;
}

.customization-menu__content .content-options .gearbox .gearbox-options .gearbox-btn {
  font-family: inherit;
  cursor: pointer;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: .3em 1.3em;
  border: none;
  background-color: #5a5a5a;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.customization-menu__content .content-options .gearbox .gearbox-options .gearbox-btn:disabled {
  background-color: lightgray !important;
  text-decoration: line-through;
}

.customization-menu__content .content-options .gearbox .gearbox-options .gearbox-btn:disabled:hover {
  background-color: lightgray;
}

.customization-menu__content .content-options .gearbox .gearbox-options .gearbox-btn:hover {
  background-color: #464646;
}

.customization-menu__content .content-options .gearbox .gearbox-options .gearbox-btn.active {
  background-color: #191919;
}

.customization-menu__content .content-options .gearbox .gearbox-options .gearbox-btn + .gearbox-btn {
  margin: .3em .3em 0em 0em;
}

.customization-menu__content .content-options .gearbox .gearbox-options .gearbox-btn:first-child {
  margin: .3em .3em 0em 0em;
}

.customization-menu__content .content-options .color h2 {
  color: #414141;
  font-size: 21px;
  font-weight: lighter;
  margin: .3em 0em;
}

.customization-menu__content .content-options .color .color-options .color-btn {
  font-family: inherit;
  cursor: pointer;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: .8em 1.9em;
  border: none;
  background-color: #5a5a5a;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.customization-menu__content .content-options .color .color-options .color-btn:hover {
  outline: 1px solid black;
}

.customization-menu__content .content-options .color .color-options .color-btn.active {
  outline: 1px solid black;
}

.customization-menu__content .content-options .color .color-options .color-btn + .color-btn {
  margin: .3em .3em 0em 0em;
}

.customization-menu__content .content-options .color .color-options .color-btn:first-child {
  margin: .3em .3em 0em 0em;
}

.customization-menu__content .content-preview {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
}

@media all and (max-width: 920px) {
  .customization-menu__content .content-preview {
    width: 100%;
    margin-bottom: 2em;
  }
}

.customization-menu__content .content-preview__wrapper {
  width: 320px;
}

@media all and (max-width: 920px) {
  .customization-menu__content .content-preview__wrapper {
    width: 100%;
  }
}

.customization-menu__content .content-preview__wrapper .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: .6em 0em;
  width: 100%;
  color: white;
  background-color: #191919;
}

.customization-menu__content .content-preview__wrapper .price h2 {
  position: relative;
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 1px;
  margin-right: .7em;
}

.customization-menu__content .content-preview__wrapper .price h2 i {
  position: absolute;
  left: -20px;
  top: 0px;
  font-size: 19px;
}

.customization-menu__content .content-preview__wrapper .car-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.customization-menu__content .content-preview__wrapper .car-custom-details {
  text-align: right;
}

@media all and (max-width: 920px) {
  .customization-menu__content .content-preview__wrapper .car-custom-details {
    width: 55%;
    margin-left: auto;
  }
}

@media all and (max-width: 450px) {
  .customization-menu__content .content-preview__wrapper .car-custom-details {
    width: 100%;
    margin-left: auto;
  }
}

.customization-menu__content .content-preview__wrapper .car-custom-details .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customization-menu__content .content-preview__wrapper .car-custom-details .detail .name {
  font-size: 19px;
}

.customization-menu__content .content-preview__wrapper .car-custom-details .detail .value {
  font-size: 18px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.customization-menu__error {
  font-size: 23px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 920px) {
  .customization-menu__error {
    height: 300px;
  }
}
/*# sourceMappingURL=CustomizationMenu.css.map */